
<div class="dashboard-full">
  <div class="dashboard-first">
    <input class="input-field" type="text" placeholder="Search">
  </div>

  <div class="new-edge">
    <button class="new-task" (click)="newtaskp()">
      <i class="bi bi-plus"></i> New Task
    </button>
  
    <div class="taskbox"*ngIf="shownewtask" >
<app-createnewtask></app-createnewtask>
    </div>

    <i class="bi bi-envelope icon-button my-e"></i>
    <i class="bi bi-person-circle icon-button my-p"></i>
  </div>
</div>
<!-- <div class="showtask" *ngIf="shownewtask">
    <div class="task-header">
        
    </div>
</div> -->
