.taskbox{
   position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2); /* Slight dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.profileopen{
   position: absolute;
  top: 40px; 
  right: 0;  
  background-color: white;
  
  padding: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  top: 100px;
    height: 640px;
    margin-right: 50px;
    right: 0;
  
    width: 1020px;
  
}

.profilecontainer{
position:relative;
  display:inline-block;
}