<form [formGroup]="form">
  <div class="login">
    <div class="login-first">
      <div class="login-second">
        <div class="left"></div>

        <div class="rightp">
          <div class="rightbottom">
            <div class="circlep">AZ</div>
          </div>

          <div class="rightbottom">
            <p class="content">Organizo</p>
          </div>

          <div class="rightbottom">
            <div class="login-heading">
              <div class="contentp">

               
                <p class="texta">Email *</p>
                <input formControlName="email" class="inputg" type="text" />
                <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="error">
                  <span *ngIf="form.get('email')?.errors?.['required']">This field is required.</span>
                  <span *ngIf="form.get('email')?.errors?.['email']">Please enter a valid email.</span>
                </div>

            
                <p class="texta">Password *</p>
                <input formControlName="password" class="inputg" type="password" />
                <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="error">
                  <span *ngIf="form.get('password')?.errors?.['required']">This field is required.</span>
                  <span *ngIf="form.get('password')?.errors?.['minlength']">Password must be at least 6 characters.</span>
                </div>

              
                <div class="contentdown">
                  <button *ngIf="clicklogin" class="loginp" (click)="finalsubmit()">Login</button>
                  <button *ngIf="clicknewuser" class="loginp" (click)="finalsubmit()">Register</button>

                  
                  <p *ngIf="clicklogin" class="newcontent" (click)="newuser()">New User</p>
                  <p *ngIf="clicknewuser" class="newcontent" (click)="loginb()">Account Already Exists</p>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
