<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<div *ngIf="isLoginroute">
  <router-outlet></router-outlet>
</div>
<div  *ngIf ="!isLoginroute" class="main">
  <div class="left-part">

<div class="left-first" >
 <div class="circle-text">AZ</div>
  <p class="first-text">Organizo</p>
</div>
<div class="left-second" routerLink="/dashboard" routerLinkActive="active-link" >
    <i class="fas fa-table-columns icon-black"></i>
      <span class="first-text">Dashboard</span>
  </div>
  <div class="left-second" routerLink="/mytasks" routerLinkActive="active-link">
    <i class="fas fa-check-circle icon-black"></i>
      <span class="first-text">My tasks</span>
  </div>
  <div class="left-second" routerLink="/notifications" routerLinkActive="active-link">
    <i class="fas fa-bell icon-black"></i>
      <span class="first-text">Notifications</span>
  </div>
  

  <div class="bottom-part">
     <div class="left-second" routerLink="/settings" routerLinkActive="active-link">
    <i class="fas fa-sliders-h icon-black"></i>

      <span class="first-text">Settings</span>
  </div>
  <div class="left-second" routerLink="/logout" routerLinkActive="active-link">
    <i class="fas fa-sign-out-alt icon-black"></i>
      <span class="first-text">Logout</span>
  </div>
  

  </div>
  </div>
  <div class="right">
<router-outlet></router-outlet>
  </div>
</div>
